<footer class="footer">
    <div class="top-ftr-outr wow fadeInUp">
        <div class="container">
            <div class="middle-ftr">
                <div class="row">
                    <div class="col-md-4">
                        <div class="ftr-menu wow fadeInLeft" data-wow-delay="0.2s">
                            <div class="ftr-logo">
                                <a href="javascript:void(0);"><img src="../../../../assets/images/ftr-logo.png" alt=""></a>
                            </div>
                            <p>
                                Insurance- the very word triggers a flurry of reactions from people, from confusion to boredom to denial. Insurance is often despised for its sheer necessity, 
                            </p>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="copy_right">
                                <p>
                                    Copyright © 2022  <a href="javascript:void(0);">Nteinsoft</a>, All rights reserved. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 commn-padd-20">
                        <div class="ftr-menu wow fadeInLeft" data-wow-delay="0.4s">
                            <div class="ftr-top-menu">
                                <h3>Information</h3>
                            </div>
                            <ul class="ftr-btm-menu">
                                <li>
                                    <a href="javascript:void(0);">Home</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">About Us </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Contact Us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Testimonials </a>
                                </li>
                            
                                <li>
                                    <a href="javascript:void(0);">Site Map </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
        
                    <div class=" col-md-3 commn-padd-40">
                        <div class="ftr-menu ftr-pddng wow fadeInLeft" data-wow-delay="0.6s">
                            <div class="ftr-top-menu">
                                <h3>Our Services</h3>
                            </div>
                            <ul class="ftr-btm-menu">
                                <li>
                                    <a href="javascript:void(0);">Shop</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Supermarket </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Pharmacies</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Clothes </a>
                                </li>
                            
                                <li>
                                    <a href="javascript:void(0);">beauty salon </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">coworking </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">florist </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-md-3 ">
                        
                        <div class="ftr-menu wow fadeInLeft" data-wow-delay="0.8s">
                            <div class="ftr-top-menu ">
                                <h3>Contact Us</h3>
                            </div>
                            
                            <ul class="innr_adres">
                                <li>
                                    <span> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </span>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </li>
                                <li>
                                    <span> <i class="fa fa-phone" aria-hidden="true"></i>
                                    </span>
                                    
                                    <a href="tel:125478894">125478894</a>
                                </li>
                                
                                <li>
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i>
                                    </span>
                                    E-mail: 
                                    <a href="info@nteinsoft.com">info@nteinsoft.com</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="desclaimer_bx">
                <h4>Disclaimer</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse feugiat quis sapien non feugiat. Sed mauris nunc, congue a hendrerit sed, pharetra at nibh. Ut nec nisl vitae est hendrerit rhoncus. Pellentesque felis nulla, tristique sit amet luctus vel, suscipit a nunc. Pellentesque consequat et nisi et pretium. Morbi dapibus magna a dui condimentum vehicula. Fusce erat urna, ornare vitae ligula vel, pellentesque bibendum velit.
                </p>
            </div>

        </div>
    </div>

    
</footer>