	<!--Bnr Start-->
	<section class="banner-sec inner__banner">
		<div class="banner-img">
			<img class="full-banner" src="../../../../assets/images/vetements-banner.jpg" alt="" />
		</div>
		<div class="banner_outr" data-wow-delay="0.2s">
			<div class="container">
				<div class="banner-inner">
					<div class="banner_txt text-center wow fadeInUp">
						<h1>Logiciel complet pour votre magasin<br/>
							de mode et accessoires</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet commodo tortor. </p>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="solution-services-sec">
		<div class="container">
			<div class="outr_application">
				<div class="row">
					<div class="col-md-4">
						<div class="application-bx text-center wow fadeInLeft" data-wow-delay="0.2s">
							<div class="application-icn swing"> <img src="../../../../assets/images/icon-1.png" alt="">  </div>
							<div class="application-des">
								<h3>Sans installation</h3>
								<p>Accessible via internet
									Mises à jour automatiques
									Sauvegardes régulières et sécurisées</p>
							</div>
						</div>
					</div>
					
					
					<div class="col-md-4">
						<div class="application-bx text-center wow fadeInLeft" data-wow-delay="0.4s">
							<div class="application-icn swing"> <img src="../../../../assets/images/icon-2.png" alt="">  </div>
							<div class="application-des">
								<h3>Simple d'utilisation</h3>
								<p>Disponible immédiatement
									Sans formation Matériel facile 
									à installer</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="application-bx text-center wow fadeInLeft" data-wow-delay="0.6s">
							<div class="application-icn swing"> <img src="../../../../assets/images/icon-3.png" alt="">  </div>
							<div class="application-des">
								<h3>Complet</h3>
								<p>Riche en fonctionnalités
									Mono ou multi-boutiques
									Multi-supports</p>
							</div>
						</div>
					</div>
					
				</div>	
				<div class="text-center">
						<div class="special_cont-btn">
							<span>Contactez-nous pour plus d'informations :</span>	
						<a href="tel:+33 (0)1 48 78 40 06">+33 (0)1 48 78 40 06</a> 
						</div>
				</div>

			</div>
		</div>
	</section>
	
	<section class="welcome-sec">

		<div class="welcome___main">
		<div class="welcome_outr wow fadeInUp">
		<div class="container">
			<div class="buyrs-otr">
				<div class="row align-items-center">
					<div class="col-md-7">
						<div class="buyers-cntnt">
							<div class="cmn_hdr">

							<div class="d-flex align-items-center">
								<div class="vete_icn"> <img src="../../../../assets/images/icon-4.png" alt=""/>  </div><h2>Caisse enregistreuse</h2>
							</div>
								<p>Aussi bien adapté à ceux qui veulent un gestion précise à l'unité, qu'à ceux qui préfèrent suivre des produits génériques,<br/>
									Hiboutik vous simplifiera le processus de vente.<br/>
									Recherchez vos produits par mots clés, scannez les ou ajoutez les avec les boutons de caisse, Hiboutik vous permet d'identifier vos produits rapidement et sans erreur.
									Vous pourrez gérer dans votre compte les bons cadeaux, les retours/échanges, les remises, les tickets sans prix...<br/>
									Vos produits peuvent avoir des déclinaisons (tailles ou couleurs) et être associés à des tags (saisons, caractéristiques...).</p>

								
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="img-otr"><img src="../../../../assets/images/vetements-pic1.jpg" alt="/"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="welcome_outr wow fadeInUp">
		<div class="container">
			<div class="buyrs-otr">
				<div class="row align-items-center">
					<div class="col-md-7">
						<div class="buyers-cntnt">
							<div class="cmn_hdr">
								<div class="d-flex align-items-center">
									<div class="vete_icn"> <img src="../../../../assets/images/icon-5.png" alt=""/>  </div><h2>Suivi du stock</h2>
								</div>
								<p>Décidez pour chaque référence de la suivre ou non en stock.
									Gérez vos entrées stock par fournisseur et imprimez automatiquement vos étiquettes codes-barres.<br/>
									Suivez en temps réel l'état de votre stock et réalisez des inventaires flottants pour ajuster les quantités disponibles.<br/>
									Ne soyez jamais en rupture de stock grâce aux alertes stocks.</p>

								
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="img-otr"><img src="../../../../assets/images/vetements-pic2.jpg" alt="/"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="welcome_outr wow fadeInUp">
		<div class="container">
			<div class="buyrs-otr">
				<div class="row align-items-center">
					<div class="col-md-7">
						<div class="buyers-cntnt">
							<div class="cmn_hdr">
								<div class="d-flex align-items-center">
									<div class="vete_icn"> <img src="../../../../assets/images/icon-6.png" alt=""/>  </div><h2>Soldes et promotions</h2>
								</div>
								<p>Pour chaque référence produit, vous pouvez saisir un prix remisé qui s'appliquera pour la période de soldes définie.<br/>
									Vous avez également la possibilité d'appliquer des remises à la ligne produit ou pour la totalité de la vente.<br/>
									Une application vous permet de mettre en place simplement des promotions ciblées sur une catégorie de produits ou sur un groupe de clients.</p>

								
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="img-otr"><img src="../../../../assets/images/vetements-pic3.jpg" alt="/"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<div class="welcome_outr wow fadeInUp">
		<div class="container">
			<div class="buyrs-otr">
				<div class="row align-items-center">
					<div class="col-md-7">
						<div class="buyers-cntnt">
							<div class="cmn_hdr">
								<div class="d-flex align-items-center">
									<div class="vete_icn"> <img src="../../../../assets/images/icon-7.png" alt=""/>  </div><h2>Fichier clients et fidélisation</h2>
								</div>
								<p>Gérez votre base clients (historique des visites, produits achetés, informations personnelles...) et animez la grâce à des campagnes emailing ou SMS ciblées.
									Hiboutik intégre également un programme de fidélité pour récompenser vos meilleurs clients, quelques soient les points de vente fréquentés (multi-boutiques).</p>

								
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="img-otr"><img src="../../../../assets/images/vetements-pic4.jpg" alt="/"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="welcome_outr wow fadeInUp">
		<div class="container">
			<div class="buyrs-otr">
				<div class="row align-items-center">
					<div class="col-md-7">
						<div class="buyers-cntnt">
							<div class="cmn_hdr">
								<div class="d-flex align-items-center">
									<div class="vete_icn"> <img src="../../../../assets/images/icon-8.png" alt=""/>  </div><h2>Site web et intégrations</h2>
								</div>
								<p>Centralisez l'ensemble de vos points de vente au sein d'un unique compte et créez des interactions (transferts, réassorts...).<br/>
									Activez d'un simple clic votre boutique en ligne et permettez à vos clients de passer leurs commandes en ligne pour une livraison ou en retrait.<br/>
									L'API d'Hiboutik permet également une intégration avec des nombreuses applications et solutions externes, comme les plateformes web (Woocommerce, Prestashop, ...) pour la synchronisation de votre stock.<br/>
									Des applications internes à Hiboutik permettent également de gérer les cas particuliers des dépôts-ventes (TVA sur marge, suivi des dépôts) et ventes aux professionnels (multi-tarifs).</p>

								
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="img-otr"><img src="../../../../assets/images/vetements-pic5.jpg" alt="/"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="welcome_outr wow fadeInUp">
		<div class="container">
			<div class="buyrs-otr">
				<div class="row align-items-center">
					<div class="col-md-7">
						<div class="buyers-cntnt">
							<div class="cmn_hdr">
								<div class="d-flex align-items-center">
									<div class="vete_icn"> <img src="../../../../assets/images/icon-9.png" alt=""/>  </div><h2>Analyses & rapports</h2>
								</div>
								<p>Suivez en temps réel et de n'importe où l'évolution de votre chiffre d'affaire.
									Identifiez les produits les plus vendus et ceux à promouvoir. Valorisez votre stock en un clin d’œil et suivez vos ventes par collections ou autres critères.<br/>
									De nombreuses statistiques sont à votre disposition pour mieux piloter votre commerce.<br/>
									Simplifiez vous la gestion en générant automatiquement un export comptable ou en donnant un accès direct à votre comptable sur votre compte.</p>

								
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="img-otr"><img src="../../../../assets/images/vetements-pic6.jpg" alt="/"></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>


</div>
	</section>
