<!--Bnr Start-->
<section class="banner-sec">
    <div class="banner-img">
        <img class="full-banner" src="../../../../assets/../../../../assets/images/banner-pic.jpg" alt="" />
    </div>
    <div class="banner_outr" data-wow-delay="0.2s">
        <div class="container">
            <div class="banner-inner">
                <div class="banner_txt text-left wow fadeInUp">
                    <h1>Take Control <br />
                        of Your Business<br /> in
                        A Few Clicks</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet commodo tortor. </p>
                    <a href="javascript:void(0);" class="btn btn-primary cmn_btn">get started now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- recipes -->
<section class="investment_sec wow fadeInUp">
    <div class="container">
        <div class="cmn_hdr text-center">
            <h2>Our Professional Services</h2>
            <p>we offer multiple insurance services </p>
        </div>

        <div class="investment_portfolio_outr">
            <div class="row align-items-start">
                <div class="col-md-4 col-sm-6">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter" class="portfolio-bx">
                        <div class="portfolio_pic">
                            <img src="../../../../assets/images/service-pic1.jpg" alt="" />
                        </div>
                        <div class="service_icn text-center floating">
                            <img src="../../../../assets/images/service-icn1.png" alt="" />
                        </div>
                        <div class="porffolio_txt text-center">
                            <h3>Shop</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter01" class="portfolio-bx">
                        <div class="portfolio_pic">
                            <img src="../../../../assets/images/service-pic2.jpg" alt="" />
                        </div>
                        <div class="service_icn text-center floating">
                            <img src="../../../../assets/images/service-icn2.png" alt="" />
                        </div>
                        <div class="porffolio_txt text-center">
                            <h3>Supermarket</h3>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter02" class="portfolio-bx">
                        <div class="portfolio_pic">
                            <img src="../../../../assets/images/service-pic3.jpg" alt="" />
                        </div>
                        <div class="service_icn text-center floating">
                            <img src="../../../../assets/images/service-icn3.png" alt="" />
                        </div>
                        <div class="porffolio_txt text-center">
                            <h3>Pharmacies</h3>

                        </div>

                    </a>

                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter03" class="portfolio-bx">
                        <div class="portfolio_pic">
                            <img src="../../../../assets/images/service-pic4.jpg" alt="" />
                        </div>
                        <div class="service_icn text-center floating">
                            <img src="../../../../assets/images/service-icn4.png" alt="" />
                        </div>
                        <div class="porffolio_txt text-center">
                            <h3>Clothes</h3>

                        </div>

                    </a>

                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalCenter04" class="portfolio-bx">
                        <div class="portfolio_pic">
                            <img src="../../../../assets/images/service-pic5.jpg" alt="" />
                        </div>
                        <div class="service_icn text-center floating">
                            <img src="../../../../assets/images/service-icn5.png" alt="" />
                        </div>
                        <div class="porffolio_txt text-center">
                            <h3>coworking</h3>

                        </div>

                    </a>

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-bx">
                        <div class="other_indusrial text-center">
                            <h2>Others industrial
                                company</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu
                                odio</p>

                            <a [routerLink]="['/activities']" class="btn btn-primary cmn_btn wh">Get a quote</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="welcome-sec  wow fadeInUp">

    <div class="welcome_outr">
    <div class="container">
        <div class="buyrs-otr">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="buyers-cntnt">
                        <div class="cmn_hdr">
                            <h2>Welcome to Nteinsoft</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est et, scelerisque molestie justo. Mauris nec fringilla dui, ut mattis sapien. Curabitur rhoncus arcu quis posuere sodales. Etiam imperdiet, leo convallis faucibus placerat, mi mi euismod leo</p>

                            <p><strong>Pellentesque id lacus nec ex pharetra tempus non a turpis. Donec lorem augue, malesuada sed ultrices et, di.gnissim vel tortor. Fusce egestas risus enim, eget pellentesque sapien feugiat sed.</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="img-otr"><img src="../../../../assets/images//data-chart-pic.jpg" alt="/"></div>
                </div>
            </div>
            <div class="round_txt">
                <p>We are Capstone Insurance, where new-age digital solutions make up the core of a thriving and innovative ecosystem.</p>
            </div>
        </div>
    </div>
</div>
</section>

<section class="real_people_sec">
    <div class="container">
        <div class="cmn_hdr text-center">
            <h2>Real people, real savings</h2>
        </div>
        <div class="outr_people">
            <div class="row">
                <div class="col-md-4">
                    <div class="inner_real_bx wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="quote_icn">
                            <img class="norm_icn" src="../../../../assets/images/quote.png" alt=""/>
                            <img class="hv_icn" src="../../../../assets/images/quote_hv.png" alt=""/>
                        </div>
                        <div class="quote_txt">
                            <p>Lorem ipsum dolor amet consectetur adipiscing Suspendisse.</p>
                            <h4>Khalid</h4>
                            <h5>Marketing Manager</h5>
                            <h4>Dubai</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner_real_bx wow fadeInLeft" data-wow-delay="0.4s">
                        <div class="quote_icn">
                            <img class="norm_icn" src="../../../../assets/images/quote.png" alt=""/>
                            <img class="hv_icn" src="../../../../assets/images/quote_hv.png" alt=""/>
                        </div>
                        <div class="quote_txt">
                            <p>Lorem ipsum dolor amet consectetur adipiscing Suspendisse.</p>
                            <h4>Sara</h4>
                            <h5>Head of content</h5>
                            <h4>Sharjah</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="inner_real_bx wow fadeInLeft" data-wow-delay="0.6s">
                        <div class="quote_icn">
                            <img class="norm_icn" src="../../../../assets/images/quote.png" alt=""/>
                            <img class="hv_icn" src="../../../../assets/images/quote_hv.png" alt=""/>
                        </div>
                        <div class="quote_txt">
                            <p>Lorem ipsum dolor amet consectetur adipiscing Suspendisse.</p>
                            <h4>Rahul</h4>
                            <h5>Consultint</h5>
                            <h4>Abu Dhabi</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="partnres__sec wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cmn_hdr text-center">
                    <h2>Our Partners</h2>
                </div>
            </div>
        </div>
        <div class="shop_cbd_otr">
            <div class="prtnr_slider row">
                <div class="parner_bx col-md-2">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic1.png" alt="" /> </div>

                </div>
                <div class="parner_bx col-md-2">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic2.png" alt="" /> </div>

                </div>
                <div class="parner_bx col-md-2">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic3.png" alt="" /> </div>

                </div>
                <div class="parner_bx col-md-2">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic4.png" alt="" /> </div>

                </div>
                <div class="parner_bx col-md-2">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic5.png" alt="" /> </div>

                </div>
            </div>
        </div>
    </div>
</section>


  <!-- Modal -->
  <div class="modal fade  popup_boxes" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">

			<div class="enqury__frm text-center">
			<h4>Lorem ipsum dolor sit amet consecte</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est et, scelerisque molestie justo. Mauris nec fringilla dui, ut mattis sapien. </p>
				<p>
					Curabitur rhoncus arcu quis posuere sodales. Etiam imperdiet, leo convallis faucibus placerat, mi mi euismod leo.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est.</p>
					<a  class="btn btn-primary cmn_btn ">learn more</a>
			</div>
		</div>
	  </div>
	</div>
  </div>

  <div class="modal fade  popup_boxes" id="exampleModalCenter01" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">

			<div class="enqury__frm text-center">
			<h4>Lorem ipsum dolor sit amet consecte</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est et, scelerisque molestie justo. Mauris nec fringilla dui, ut mattis sapien. </p>
				<p>
					Curabitur rhoncus arcu quis posuere sodales. Etiam imperdiet, leo convallis faucibus placerat, mi mi euismod leo.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est.</p>
					<a href="javascript:void(0);" class="btn btn-primary cmn_btn ">learn more</a>
			</div>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal fade  popup_boxes" id="exampleModalCenter02" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">

			<div class="enqury__frm text-center">
			<h4>Lorem ipsum dolor sit amet consecte</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est et, scelerisque molestie justo. Mauris nec fringilla dui, ut mattis sapien. </p>
				<p>
					Curabitur rhoncus arcu quis posuere sodales. Etiam imperdiet, leo convallis faucibus placerat, mi mi euismod leo.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est.</p>
					<a href="javascript:void(0);" class="btn btn-primary cmn_btn ">learn more</a>
			</div>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal fade  popup_boxes" id="exampleModalCenter03" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">

			<div class="enqury__frm text-center">
			<h4>Lorem ipsum dolor sit amet consecte</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est et, scelerisque molestie justo. Mauris nec fringilla dui, ut mattis sapien. </p>
				<p>
					Curabitur rhoncus arcu quis posuere sodales. Etiam imperdiet, leo convallis faucibus placerat, mi mi euismod leo.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est.</p>
					<a href="javascript:void(0);" class="btn btn-primary cmn_btn ">learn more</a>
			</div>
		</div>
	  </div>
	</div>
  </div>
  <div class="modal fade  popup_boxes" id="exampleModalCenter04" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">

			<div class="enqury__frm text-center">
			<h4>Lorem ipsum dolor sit amet consecte</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est et, scelerisque molestie justo. Mauris nec fringilla dui, ut mattis sapien. </p>
				<p>
					Curabitur rhoncus arcu quis posuere sodales. Etiam imperdiet, leo convallis faucibus placerat, mi mi euismod leo.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur nunc eu odio condimentum tincidunt. Nam a elit ipsum. Donec diam lorem, lobortis eget est.</p>
					<a href="javascript:void(0);" class="btn btn-primary cmn_btn ">learn more</a>
			</div>
		</div>
	  </div>
	</div>
  </div>

