<!--Bnr Start-->
<section class="banner-sec inner__banner">
    <div class="banner-img">
        <img class="full-banner" src="../../../../assets/images/les-option-banner.jpg" alt="" />
    </div>
    <div class="banner_outr" data-wow-delay="0.2s">
        <div class="container">
            <div class="banner-inner">
                <div class="banner_txt text-center wow fadeInUp">
                    <h1>Les options</h1>
                    <p>De la gestion du stock à la réalisation de la vente, Hiboutik vous accompagne</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="solution-services-sec">
    <div class="container">
        <div class="les_option">
            <div class="cmn_hdr text-left">
                <h2>Les options</h2>
            </div>
            <p>Le logiciel de caisse enregistreuse Hiboutik est gratuit pour toutes les fonctionnalités essentielles
                incluant le Z de caisse quotidien.</p>

            <p>En complément, vous pouvez souscrire, sans engagement de durée, à des options payantes facultatives
                décrites ci-dessous (souscription mensuelle ou annuelle). Ces fonctionnalités sont payantes car
                elles nécessitent d’importantes ressources des serveurs et elles nous permettent de maintenir le
                service proposé gratuitement.</p>
            <p><strong>Chez Hiboutik, il n’y a aucun coût caché, ni aucune restriction quant à l’utilisation du
                    logiciel dans sa version gratuite.</strong></p>
        </div>
    </div>
</section>

<section class="premiun___sec">
    <div class="container">

        <div class="outr-pre-main">
        <div class="outr-pre">
            <div class="pre-pic">
                <img src="../../../../assets/images/premium.png" alt="" />
            </div>
            <div class="pre-txt">
                <h3>Premium</h3>
                <p>Cette option vous donne accès à des <span> fonctionnalités avancées</span> du logiciel (crédit client, gestion
                    cuisine...) ainsi qu'à des <span>statistiques détaillées</span> sur votre activité.</p>

                <p>Bénéficiez de 100% des fonctionnalités d'Hiboutik pour une gestion optimale de votre commerce.
                </p>

                <p>Des <span>tableaux synthétiques</span> et des <span>graphiques dynamiques</span> vous donneront rapidement l’information
                    que vous recherchez pour piloter votre activité.</p>
                <p><span>Toutes les données réclamées par votre comptable sont disponibles en un clic:</span> synthèse comptable
                    mensuelle, export comptable, état du stock précis...</p>
                <p>Cette option vous donne également<span> accès à la puissante API d'Hiboutik, </span>qui vous permettra de
                    faire interagir votre caisse avec des solutions externes (comme un site web par exemple).</p>

                <p>L'option est par compte (quelque soit le nombre d'utilisateurs, de postes connectés ou de
                    boutiques). 2 mois offerts pour une souscription annuelle.</p>

                    <div class="plans__txt">
                        9.90 <span>€/mois</span>
                    </div>

            </div>
        </div>
        <div class="outr-pre">
            <div class="pre-pic">
                <img src="../../../../assets/images/multi-botique.png" alt="" />
            </div>
            <div class="pre-txt">
                <h3>Multi-boutiques
                </h3>
                <p> <strong> Gérez au sein d’un unique compte l'activité de vos différents points de vente.</strong></p>

                <p>Les principales fonctionnalités de cette option sont:
                </p>

                <ul>
                    <li>
                        la centralisation de votre base produits,
                    </li>
                    <li>
                        la possibilité d’appliquer une politique de prix globale ou propre à chaque point de vente,
                    </li>
                    <li>
                        les transferts de marchandises entre boutiques,
                    </li>
                    <li>
                        les réassorts automatiques à partir d'un stock central,
                    </li>
                    <li>
                        la mutualisation de la base clients et de votre programme de fidélité,
                    </li>
                    <li>
                        la gestion des accès aux différents points de vente,
                    </li>
                    <li>
                        la personnalisation des tickets à la boutique...
                    </li>
                </ul>

                <p>Couplée avec l'option Premium, vous disposerez de toutes les informations chiffrées et 
                    graphiques consolidées (ainsi que les détails au point de vente).</p>
                <p>Cette option est à souscrire à chaque nouveau point de vente supplémentaire. 2 mois 
                    offerts pour une souscription annuelle. Un seul abonnement Premium suffit pour suivre 
                    l’ensemble de vos points de vente.</p>
                

                    <div class="plans__txt">
                        9.90 <span>€/mois/boutique</span>
                    </div>

            </div>
        </div>
    </div>


    </div>
</section>

<section class="partnres__sec wow fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cmn_hdr text-center">
                    <h2>Our Partners</h2>
                </div>
            </div>
        </div>
        <div class="shop_cbd_otr">
            <div class="prtnr_slider">
                <div class="parner_bx">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic1.png" alt="" /> </div>

                </div>
                <div class="parner_bx ">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic2.png" alt="" /> </div>

                </div>
                <div class="parner_bx ">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic3.png" alt="" /> </div>

                </div>
                <div class="parner_bx ">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic4.png" alt="" /> </div>

                </div>
                <div class="parner_bx ">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic5.png" alt="" /> </div>

                </div>
                <div class="parner_bx ">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic6.png" alt="" /> </div>

                </div>
                <div class="parner_bx ">
                    <div class="partner_img"> <img src="../../../../assets/images/partner-pic1.png" alt="" /> </div>

                </div>
            </div>
        </div>
    </div>
</section>